
/* VARIABLE CSS */
:root {
  --body-font: "Mulish", sans-serif;
}
/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
}

.text-green {
  color: #11ab6b;
}

.text-grey {
  color: #909090;
}

.text-grey-0 {
  color: #606060;
}

.container {
  overflow: hidden;
}

.text-purple {
  background-color: #fcf2ff;
}

.text-yellow {
  background-color: #fff5e1;
}

.text-green-1 {
  background-color: #e2fffa;
}

.text-blue {
  background-color: #e8f4ff;
}

.heading{
  font-weight: 500;
  font-style: 50px;
  color: #050404;
  font-family: 'Lexend', sans-serif;
}
/* HEADER */
#header {
  overflow: hidden;
}

#header .header__container .header__top {
  background-color: #f6f9fb;
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
}

#header .header__container .header__top .time span,
#header .header__container .header__top .email span {
  margin-right: 10px;
}

#header .header__container .header__top .time p,
#header .header__container .header__top .email p {
  font-family: "Rajdhani", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 3px;
}

#header .header__container .header__bottom {
  /* position: fixed; */
  background-color: white;
  z-index: 10;
  width: 100%;
  padding: 20px 20px 0;
}

#header .header__container .header__bottom .contact-btn {
  background: #11ab6b;
  border: none;
  border-radius: 0px;
  margin-right: 100px;
  padding: 14px 22px 14px 23px;
  color: #ffffff;
  font-family: "Mulish", Sans-serif;
  font-size: 18px;
  font-weight: 600;
}

#header .header__container .header__bottom .contact-btn .phone {
  margin-left: 16px;
}

#header .header__container .header__bottom .navbar .container-fluid img {
  width: 150px;
  height: 25px;
}

#header
  .header__container
  .header__bottom
  .navbar
  .container-fluid
  .navbar-toggler {
}

#header .header__container .header__bottom .navbar .container-fluid .collapse {
  margin-left: 12px;
}

#header
  .header__container
  .header__bottom
  .navbar
  .container-fluid
  .collapse
  .navbar-nav
  .nav-item {
  margin-left: 44px;
}

#header
  .header__container
  .header__bottom
  .navbar
  .container-fluid
  .collapse
  .navbar-nav
  .nav-item .nav-link:hover
  {
    color: #11ab6b !important; 
  }

/* CAROUSEL */
.carousel {
  padding-left: 50px;
  margin-top: 55px;
  overflow: hidden;
}

.carousel .carousel__container {
}

.carousel .carousel__container .carousel__left {
  display: flex;

  align-items: center;
  height: 100vh;
  padding: 0;
}

.carousel .carousel__container .carousel__left .carousel__left-content{
  padding-left: 10px;
}


.carousel .carousel__container .carousel__left .carousel__left-content h1 {
  font-size: 70px;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
}

.carousel .carousel__container .carousel__left .carousel__left-text {
  margin: 35px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.carousel .carousel__container .carousel__left button {
  width: 142px;
  height: 56px;
  background: #00447f;
  border: none;
  font-weight: 500;
}

.carousel .carousel__container .carousel__left button:hover {
  background: #14cd80;
}

.carousel .carousel__container .carousel__left h1 {
  font-size: 70px;
  font-weight: 400;
}

.carousel .carousel__container .carousel__right {
  background-image: url(../img/Pattern.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}

.carousel__eclipse {
  position: absolute;
  right: 60px;
  top: 30px;
}

.carousel__bg {
  position: absolute;
  top: 0px;
  left: -50px;
  width: 800x;
  height: 700px;
  object-fit: cover;
}

.carousel__pattern{
  position: absolute;
  top: 0px;
  left: -50px;
  width: 800x;
  height: 700px;
  object-fit: cover;
}

.carousel .carousel__container .carousel__right-message {
  position: absolute;
  top: 300px;
  left: -150px;
  width: 200px;
  height: fit-content;
}

.carousel .carousel__container .carousel__right-figure {
  position: absolute;
  top: 90px;
  right: -70px;
  width: 476px;
  height: 325px;
}

/* SERVICE */
#service {
  padding: 100px 50px;
  overflow: hidden;
}

.service .service__container .service__list {
  margin-top: 112px;
}

.service .service__container .service__list-item{
  padding: 30px;
  border: none;

}

.service .service__container .service__list-item:hover {
  border: none;
  box-shadow: 0px 11px 21px -1px rgba(234,231,231,1);
-webkit-box-shadow: 0px 11px 21px -1px rgba(234,231,231,1);
-moz-box-shadow: 0px 11px 21px -1px rgba(234,231,231,1);
transition: all 0.3s;
}

.service .service__container .service__list-item .service__item-icon {
  padding: 17.5px;
  text-align: center;
  border-radius: 50%;
}

.service .service__container .service__list-item .service__item-content h5 {
  font-size: 22px;
  margin-left: 20px;
  font-family: "Lexend", Sans-serif;
    font-weight: 500;
    text-transform: none;
    color: #1D3047;
}
/* PEOPLE */
.people {
  overflow: hidden;
  padding: 0 50px;
  padding-bottom: 100px;
}

.people .people__container .people__content .people__content-heading h1 {
  font-size: 50px;
  color: #050404;
  font-weight: 500;
  font-family: 'Lexend', sans-serif;
}

.people .people__container .people__content {
  margin-bottom: 78px;
}

.people .people__container .people__content .people__content-description p {
  text-align: right;
  
}



.people .people__container .people__content .people__content-description{
  margin: auto;
}

.people .people__container .people__card .people__card-item img {
  width: 436px;
  height: 550px;
  object-fit: cover;
}

.people .people__container .people__card .people__card-item {
  position: relative;
  overflow: hidden;
}

.people
  .people__container
  .people__card
  .people__card-item
  .people__card-content {
  position: absolute;
  top: 350px;
  left: 30px;
  width: 378px;
  height: 154px;
  padding-left: 30px;
  padding-top: 35px;
 
}

.card-content{
  background-color: white;
}


.people-job{
    font-size: 22px;
    font-family: "Lexend", Sans-serif;
    font-weight: 500;
    color: #050404;
  }



 .read-btn {
  font-style: 14px;
  font-family: 'Oswald', sans-serif;
  
}

.people__card-item{
  width: 440px;
  height: 550px; 
  overflow: hidden;
  
}

.people__card-item:hover img{
  transform: scale(1.05);
  transition: all 0.5s;
  transform-origin: center center;
  
}

 .read-btn:hover{
    color: #050404;
  }

.read-btn:hover i{
    margin-left: 10px;
    transition: all 0.5s;
  }

/* QUESTION */
.question {
  overflow: hidden;
  padding: 0 50px;
  padding-bottom: 100px;
}

.question .question__container .question__image {
  background: url(../img/Ellipse-r.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.question .question__container .question__content .question__content-heading {
  margin-bottom: 60px;
}

.question .question__container .question__content{
  margin-top: 132px;
}

.question__content-item{
  font-family: 'Lexend', sans-serif;
}

.question__content-item .col-9 p, .question__content-item .col-1 {
  font-size: 22px;
}

.question__content-item .arrow {
  text-align: right;
}

.question .question__container .question__content hr {
  width: 85%;
}

.question__response{
  font-family: "Mulish", Sans-serif;
  color: #606060;
  font-size: 16px !important;
}

.question__content-item .col-1,.question__content-item .col-9{
  font-size: 22px;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
}

  
/* PARTNER */
.partner {
  overflow: hidden;
  padding: 70px 152px;
  background-color: #f0f4f7;
  margin-bottom: 162px;
}

.partner .partner__heading{
  font-size: 29px;
  color: #050404;
  font-weight: 600;
  font-family: 'Lexend', sans-serif;
}
/* MARKET */
.market {
  overflow: hidden;
  padding: 0 50px;
  padding-bottom: 150px;
}

.market .market__container .market__heading {
  padding-bottom: 60px;
}

.market .market__container .market__heading h1 {
  font-size: 50px;
}
.market .market__container .market__heading .view-all{
  margin-top: 30px;
  
}

.market .market__container .market__heading .view-all button {
  width: 142px;
  height: 56px;
  background: #00447f;
  border: none;
  font-weight: 500;
  color: white;
}

.market .market__container .market__heading .view-all button:hover {
  background-color: #14cd80;
}

.market .market__container .market__content .market__content-image{
  position: relative;
}

.image-container{
overflow: hidden;
}

.image-container img{
  width: 100%;
  height: 100%;
  transition: transform 1s;
}

.market__content-image:hover .image-container img{
  transform: scale(1.1);
  
}

.market__card{
  position: absolute;
  display: none;
  bottom: 25px;
  left: 50px;
  
}

.market__content-image:hover .market__card{
  display: block;
  position: absolute;
  animation-name: cardIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}


@keyframes cardIn{
  0% {
    display: block;
    opacity: 0.5;
    bottom: 25px;
    left: 25px;
  }
  25% {
    display: block;
    opacity: 0.5;
    bottom: 25px;
    left: 30px;
  }
  50% {
    display: block;
    opacity: 0.8;
    bottom: 25px;
    left: 35px;
  }
  75% {
    display: block;
    opacity: 0.8;
    bottom: 25px;
    left: 45px;
  }
  100% {
    display: block;
    opacity: 1;
    bottom: 25px;
    left: 50px;
  }
}

/* CLIENT */
.client {
  overflow: hidden;
  background-color: #f0f4f7;
  padding: 100px 50px 0px;
  margin: 20px 0;

}

.client .client__container .client__left .client__percent {
  width: 370px;
  height: 210px;
  background-color: #00447f;
  color: white;
  margin-top: 100px;
}

.client .client__container .client__right .client__comment {
  background-color: white;
  padding: 30px 20px;
}

.client .client__container .client__right .client__comment p{
  font-style: italic;
  color: #2e2e2e;
  line-height: 1.75;

}

.client .client__container .client__right .comma {
  top: -20px;
  left: 30px;
}

.client .client__container .client__right .client__info {
  text-align: right;
}

.client .client__container .client__right .client__info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.client .client__container .client__right .client__info .client___info-name {
  margin-right: 30px;
  margin-top: 10px;
  text-align: left;
}

.client .client__container .client__right .client__info .client___info-name .full-name{
  font-size: 21px;
  color: #050404;
  font-family: 'Lexend', sans-serif;

}

/* NEWS */
.news {
  overflow: hidden;

  padding: 150px 50px;
}

.news .news__heading {
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
}

.news .news__container .card {
  border-radius: 0px;
  padding: 0;
  width: 435px;
  
}

.news__card-img{
    overflow: hidden;
    
}

.news .news__container .card .card-body .card-title {
  font-size: 21px;
color: #050404;
font-family: 'Lexend', sans-serif;
}

.news .news__container .card .card__body .news__jobs{
  font-size: 16px;
  color: #606060;
  font-family: "Mulish", sans-serif;
  font-weight: 600;

}

.news .news__container .card img {
  border-radius: 0px;
  background-size: cover;
}

.news .news__container .news__card-item:hover img {
  transform: scale(1.1);
  transition: all 1s;
}

.news .news__container .card .card__body {
  position: relative;
}

.news__date {
  padding: 8px 10px;
  background-color: #11ab6b;
  position: absolute;
  bottom: 170px;
  right: 25px;
  color: white;
}


/* REQUEST */
.request {
  padding: 0px 50px;
  background: url(../img/request-bg.png);
  background-color: #f0f4f7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.request__heading {
  font-size: 28px;
color: #050404;
font-family: 'Lexend', sans-serif;
}

.request__description{
  font-size: 16px;
  color: #606060;
  font-family: "Mulish", sans-serif;

}

.input-group input {
  border-radius: 0;
  width: 616px;
  height: 60px;
}

.input-group .btn {
  width: 70px;
  border-radius: 0;
  background-color: #11ab6b;
  color: white;
  border: none;
}
.request__left {
  position: relative;
}

.request__img {
  position: absolute;
  top: -150px;
}
/* FOOTER */
.footer {
  overflow: hidden;
  margin-top: 300px;
  padding: 0 40px;
}

.footer__heading {
  font-size: 22px;
  font-weight: 700;
}

.footer__list {
  list-style: none;
  padding-left: 0;
}

.footer__list-item {
  padding: 10px 0;
  color: #606060;
  font-family: "Mulish", sans-serif;
  font-weight: 600;

}
/* COPYRIGHT */
.copyright {
  overflow: hidden;
  background-color: #11ab6b;
  border-radius: 6px;
  padding: 15px 15px 5px;
  color: white;
  width: 1400px;  
  
}

/* BACK TO TOP */
.back-to-top a {
  padding: 20px;
  background-color: #11ab6b;
  color: white;
  bottom: 10px;
  right: 3px;
  position: fixed;
}

.back-to-top a:hover {
  padding: 20px;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 3px;
  position: fixed;
}
